.flex {
  display: flex;
}

.flex-sub {
  flex-grow: 1;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.row-reverse {
  flex-direction: row-reverse;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}